My research interests have always been driven by following interesting problems that combine deep mathematical theory with real-world applications. My current research interests include:

📊 Machine Learning/Deep Learning/Statistics:
- LLMs (Multi-Agent Systems, Mechanistic Interpretability, and Applications),
- Causal Inference and Machine Learning,
- Mathematical/High-dimensional Statistics, and
- Time-Series Models and Analysis.

<img src="/images/transverse.png" alt="Transverse" width="30" height="30" loading="lazy" /> Differential Topology:
- Genericity, Transversality, and Applications (to math/data science/machine learning).

These have evolved from earlier work as a graduate and an undergraduate student, where I have worked on projects involving:
- Hyperbolic PDEs and Conservation Laws: Analysis & Applications.
- Mathematical general relativity,
- Bayesian modeling in nuclear astrophysics, and
- Numerical methods in quantum field theory.

Throughout, I think of myself as a "full stack mathematician" — I take projects end-to-end, from theory and modeling through implementation and simulation to production-scale systems whenever possible!